:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --in-out-quart: cubic-bezier(0.65, 0, 0.22, 1);
}

.cursor-wait {
  cursor: wait;
}

@font-face {
  font-family: 'Helv Condensed';
  src: url('/fonts/ppformula-narrowbold.woff2');
}

@font-face {
  font-family: 'Helv Regular';
  src: url('/fonts/helvetica-regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
} */

body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Helv Condensed';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 21.511vw;
  color: var(--light-color);
  line-height: 1.15em;
}

#hero__scroll-tracker__wrapper {
  height: 200vh;
}

#hero__scroll-tracker {
  position: sticky;
  top: 0;
}

#hero__wrapper {
  background-color: var(--dark-color);
  min-height: 100vh;
  position: relative;
}

.title__wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  /* transform: translateY(50%);
  opacity: 0; */
}

.hero-img__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  clip-path: polygon(42% 50%, 58% 50%, 58% 70%, 42% 70%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero-img__white-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--light-color);
  transform: scale(0);
  /* transform: translate(-50%, -50%); */
  transform-origin: center;
  z-index: 5;
}


.projects__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1vw;
  min-height: 200vh;

}


.project__aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Helv Regular";
  font-size: .9vw;
  font-weight: 500;
  color: var(--dark-color);
  letter-spacing: .05vw;
  text-transform: uppercase;
  display: flex;
}

#footer__section {
  z-index: 10;
  margin-top: -100vh;
}

#page_content_total {
  display: none;
}